---
layout: default
permalink: /
---

<div class="home">

  <!--<h1 class="page-heading">Posts on my site</h1>-->

  <ul class="post-list">
    <!--{% for post in paginator.posts %}-->
    <!--<li>{{post.url}}</li>-->
    <!--{% endfor %}-->
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
        {{ post.subtitle }}
        </h3>
        {% endif %}
        <span class="post-meta">Posted on {{ post.date | date: "%b %-d, %Y" }}</span>
        {{ post.content | split:'<!--break-->' | first }}<span class="read-more">&nbsp;...</span>
        {% if post.content contains '<!--break-->' %}
        <br>
        <a href="{{ post.url }}#disqus_thread">read more</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>


  <!-- Pagination links -->
  <!--<div class="pagination">-->
    <!--{% if paginator.previous_page %}-->
    <!--<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>-->
    <!--{% else %}-->
    <!--<span class="previous">Previous</span>-->
    <!--{% endif %}-->
    <!--<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>-->
    <!--{% if paginator.next_page %}-->
    <!--<a href="{{ paginator.next_page_path }}" class="next">Next</a>-->
    <!--{% else %}-->
    <!--<span class="next ">Next</span>-->
    <!--{% endif %}-->
  <!--</div>-->


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>



  {% include disqus_count.html %}


</div>
